NODE_ENV="development"

DATABASE_URL="mysql://root:password@localhost:3306/nightworlds"

DISCORD_ID="1234567890"
DISCORD_SECRET="abcdefg123456789"
TELEGRAM_BOT_TOKEN="abcdefg123456789"

TOKEN_ENCRYPTION_KEY="u+wF2QC1baAIl3AyuDqTnQ=="
