DATABASE_URL="mysql://root:password@172.17.0.2:3306/nightworlds"
BUCKET_NAME="nightworlds-media"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="abcdefg123456789" # openssl rand -base64 32

GOOGLE_ID="1234567890"
GOOGLE_SECRET="abcdefg123456789"

DISCORD_ID="1234567890"
DISCORD_SECRET="abcdefg123456789"