NODE_ENV="development"

DOMAIN_NAME="localhost:3000"
DATABASE_URL="mysql://root:password@localhost:3306/nightworlds"

TELEGRAM_BOT_TOKEN="abcdefg123456789"
YOOKASSA_SHOP_ID="123456789"
YOOKASSA_SECRET_KEY="abcdefg123456789"

TOKEN_ENCRYPTION_KEY="u+wF2QC1baAIl3AyuDqTnQ=="

YANDEX_CLOUD_ID="abcdefg123456789"
YANDEX_CLOUD_SECRET="abcdefg123456789"
YANDEX_CLOUD_BUCKET="nightworldsusercontent.pick-me.ru"

FIREBASE_JSON_CERT={"projectId":"id","privateKey":"key","clientEmail":"email"}