@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  scroll-behavior: smooth;
  font-family: var(--font-sans);
  box-sizing: border-box;
  height: 100%;
}

body {
  overflow-y: scroll;
}

html,
body {
  @apply dark;
  color-scheme: dark;
}

.logo {
  @apply brightness-125;
}

@layer base {
  :root {
    --primary: 283 77% 37%;
    --primary-foreground: 0 0% 100%;
    --secondary: 282 74% 89%;
    --secondary-foreground: 278 21% 29%;
    --background: 348 56% 98%; /* surface */
    --foreground: 287 15% 12%; /* on-surface */
    --border: 291 3% 47%; /* outline */
    --destructive: 0 75% 42% /* error */;
    --destructive-foreground: 0 0% 100% /* on-error */;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --primary: 285 100% 85%;
    --primary-foreground: 284 100% 22%;
    --secondary: 340 100% 99%;
    --secondary-foreground: 277 27% 22%;
    --background: 287 21% 8%;
    --foreground: 348 9% 89%;
    --border: 300 3% 57%;
    --destructive: 6 100% 84%;
    --destructive-foreground: 357 100% 21%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @layer components {
  :root {
    --shadow-sm: 0 1px 4px 0 rgb(0, 0, 0 / 0.37);
    --shadow-md: 0 2px 2px 0 rgb(0, 0, 0 / 0.2), 0 6px 10px 0 rgb(0, 0, 0 / 0.3);
    --shadow-lg: 0 11px 7px 0 rgb(0, 0, 0 / 0.19),
      0 13px 25px 0 rgb(0, 0, 0 / 0.3);
    --shadow-xl: 0 14px 12px 0 rgb(0, 0, 0 / 0.17),
      0 20px 40px 0 rgb(0, 0, 0 / 0.3);
    --shadow-2xl: 0 17px 17px 0 rgb(0, 0, 0 / 0.15),
      0 27px 55px 0 rgb(0, 0, 0 / 0.3);
  }
} */
